{erl_opts, [debug_info]}.
{deps, [{cowboy, {git, "git://github.com/ninenines/cowboy.git"}}]}.
{profiles, [
    {test, [
        {deps, [
            {meck, {git, "git://github.com/eproxus/meck.git"}},
	    {etest, ".*", {git, "git://github.com/wooga/etest.git"}},
	    {etest_http, "", {git, "git://github.com/wooga/etest_http.git"}}
        ]}
    ]}
]}.
